<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>对公表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
    <script th:src="@{my/js/jquery.min.js}"></script>
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" id="sname" name="sname" lay-verify="required|snameVaild" placeholder="名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系号码</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" lay-verify="phone" placeholder="联系号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>

<script src="layuiadmin/layui/layui.js"></script>
<script>
    var checkname="";
    layui.config({
        base: 'layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload ;
        var data=parent.blockdata;
        if(null!=data&&undefined!=data){
            form.val("layuiadmin-form-useradmin", {
                "sname": data[0]["sname"],
                "phone": data[0]["phone"],

            });
        };
        form.verify({
            snameVaild: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(checkname!=""){
                    return  '姓名已经存在,请勿重复添加！';
                }
            }
        });

    });

    $('#sname').blur(function() {
        var name = $('#sname').val();

        $.ajax({
            url:'/driver/info/sname',//用户名框失去焦点是进行ajax请求 检验用户名是否重复了
            type:'post',
            dataType:'json',
            data:{sname:name},
            //验证用户名是否可用
            success:function(data){
                // console.log(data);
                if (data.code == 1000) {
                    // $('#ri').removeAttr('hidden');
                    // $('#wr').attr('hidden','hidden');
                    checkname="";

                } else {
                    checkname = "当前用户名已被占用";
                    // $('#wr').removeAttr('hidden');
                    // $('#ri').attr('hidden','hidden');
                    layer.msg('姓名已存在，请勿重复添加! ');
                    checkname="OK";
                }

            }
        })

    });



</script>
</body>
</html>