<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>河流静态信息表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">河流名称</label>
        <div class="layui-input-inline">
            <input type="text" name="sname" lay-verify="required" placeholder="河流名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">河流长度</label>
        <div class="layui-input-inline">
            <input type="text" name="lenth" lay-verify="required" placeholder="河流长度" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">河长姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" lay-verify="required" placeholder="河长姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">河长行政职务</label>
        <div class="layui-input-inline">
            <input type="text" name="spost" lay-verify="required" placeholder="河长行政职务" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">河段水位</label>
        <div class="layui-input-inline">
            <input type="text" name="stage" lay-verify="required" placeholder="河段水位" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">河段流量</label>
        <div class="layui-input-inline">
            <input type="text" name="flow" lay-verify="required" placeholder="河段流量" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">河段水质</label>
        <div class="layui-input-inline">
            <!--<input type="text" name="ibtype" lay-verify="number" placeholder="土壤类型" autocomplete="off" class="layui-input">-->
            <select id="quality" name="quality" lay-verify="">
                <option value="1" selected>很好</option>
                <option value="2" >优</option>
                <option value="3" >良</option>
                <option value="2" >差</option>
                <option value="3" >很差</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">污染程度</label>
        <div class="layui-input-inline">
            <!--<input type="text" name="ibtype" lay-verify="number" placeholder="土壤类型" autocomplete="off" class="layui-input">-->
            <select id="pollution" name="pollution" lay-verify="">
                <option value="1" selected>A</option>
                <option value="2" >B</option>
                <option value="3" >C</option>
                <option value="4" >D</option>
                <option value="5" >E</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">污染源个数</label>
        <div class="layui-input-inline">
            <input type="text" name="sourcesnumber" lay-verify="number" placeholder="污染源个数" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">污染源名称</label>
        <div class="layui-input-inline">
            <input type="text" name="sourcesname" lay-verify="required" placeholder="污染源名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">污染位置</label>
        <div class="layui-input-inline">
            <input type="text" name="sourcesposition" lay-verify="required" placeholder="污染位置" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">河段安全情况</label>
        <div class="layui-input-inline">
            <input type="text" name="safety" lay-verify="required" placeholder="河段安全情况" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>

<script src="layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: 'layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload ;
        var data=parent.blockdata;
        if(null!=data&&undefined!=data){
            form.val("layuiadmin-form-useradmin", {
                "sname": data[0]["sname"],
                "lenth": data[0]["lenth"],
                "username": data[0]["username"],
                "spost": data[0]["spost"],
                "stage": data[0]["stage"],
                "flow": data[0]["flow"],
                "quality": data[0]["quality"],
                "pollution": data[0]["pollution"],
                "sourcesnumber": data[0]["sourcesnumber"],
                "sourcesname": data[0]["sourcesname"],
                "sourcesposition": data[0]["sourcesposition"],
                "safety": data[0]["safety"],
            });
        };
        upload.render({
            elem: '#layuiadmin-upload-useradmin'
            ,url: layui.setter.base + 'json/upload/demo.js'
            ,accept: 'images'
            ,method: 'get'
            ,acceptMime: 'image/*'
            ,done: function(res){
                $(this.item).prev("div").children("input").val(res.data.src)
            }
        });
    })
</script>
</body>
</html>